@import url(https://fonts.googleapis.com/css?family=Lato:100,400);

$main-bg-color: #f1f2f0;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;

body {
  background-color: $main-bg-color;
  color: $accent-black;
  font-family: 'Lato', sans-serif;
  padding: 5px 5px 5px 5px;
}


.AppBody {
  text-align: center;
  padding-top: 50px;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: justify-content;
  padding-left: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #8BC34A;
  padding-right: 20px;
}

.header-title {
  font-size: 40px;
}

.header-links {
  padding-left: 30px
}

.homeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
};

.homeSplash {
  text-align: center;
  background-image: url('http://goo.gl/Ncfcks');
  width: 500px;
  height: 700px;
}


footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 20px;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $accent-blue;
    }
  }

  #heart{
    color: $accent-red;
  }
}
